.create-account__form-wrapper {
	.create-account__terms-of-service-link {
		font-size: 12px;
		margin: 4px 0;
		text-align: center;
		a {
			@include breakpoint( '>480px' ) {
				white-space: pre;
			}
		}
	}

	.logged-out-form__footer {
		margin-top: 0;
	}
	.validation-fieldset__validation-message {
		min-height: auto;
	}
	.signup-form__social {
		max-width: 400px;
		margin: 0 auto 16px;
		padding: 16px;
		box-sizing: border-box;

		p {
			font-size: 13px;
			color: var( --color-white );
			margin: 0 0 12px;
			text-align: center;

			&:last-child {
				margin: 10px 0 0;
			}
		}
	}

	.signup-form__social-buttons {
		button {
			display: block;
			margin: 0 auto;
			box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.14 ),
			0 2px 1px -1px rgba( 0, 0, 0, 0.12 ),
			0 1px 3px 0 rgba( 0, 0, 0, 0.2 );
		}
	}

	.social-buttons__button-container + .social-buttons__button-container {
		margin-top: 10px;
	}

	.notice {
		max-width: 360px;
		margin: 0 auto 10px;
	}
}
